.header {
    color:#a38478;
    font-size:16pt
}

.head_container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40%;
    background:#e1dfdf;
    padding-left: 10px;
}

h2 {
    padding-left: 10px;
}

.buttonBlock {
    width: 40%;
    text-align: right;
}

button {
    background-color: #5bc1df;
    border-radius: 5px 5px 5px 5px;
    border: none; color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    width: 40%;
    padding-top:20px;
    padding-left: 10px;
}

.homeTable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white;
    text-align: left;
}

.homeTableTr {
    padding: 3px;
    border: 1px solid grey;
    height:40px
}

