<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
    <link th:href="@{/static/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <div class="head_container">
        <th:block th:insert="~{header :: header}"></th:block>
    </div>
    <h2>Create New User</h2>
    <div class="container">
        <form th:action="@{/users/create}" th:object="${user}" method="post" >
            <table class="newUserTable">
                <tr>
                    <th>First name: </th>
                    <th><input class="userInput" type="text" th:field="*{firstName}"/></th>
                </tr>
                <tr>
                    <th style="width:100px">Last name: </th>
                    <th><input class="userInput" type="text" th:field="*{lastName}"/></th>
                </tr>
                <tr>
                    <th>E-mail: </th>
                    <th><input class="userInput" type="text" th:field="*{email}"/></th>
                </tr>
                <tr>
                    <th>Password: </th>
                    <th><input class="userInput" type="text" th:field="*{password}"/></th>
                </tr>
            </table>
            <div style="text-align:right;">
                <input class="defButton register" type="submit" value="Register"/>
                <input class="defButton clear" type="reset" value="Clear"/>
            </div>
        </form>
        <div
                th:if="${err}" th:utext="${err}" style="color:red;font-style:italic;">
        </div>
    </div>
</body>
</html>