<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Existing User</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="head_container">
    <th:block th:insert="~{header :: header}"></th:block>
</div>
<h2>Update Existing User</h2>
<div class="container">
    <form th:action="@{/users/update}" th:object="${user}" method="post" >
        <table class="updateUserTable">
            <tr>
                <th>ID:</th>
                <th><input name="id" id="id" th: readonly/></th>
            </tr>
            <tr>
                <th>First name:</th>
                <th><input class="userInput" type="text" th:field="*{firstName}"/></th>
            </tr>
            <tr>
                <th>Last name:</th>
                <th><input class="userInput" type="text" th:field="*{lastName}"/></th>
            </tr>
            <tr>
                <th>E-mail:</th>
                <th><input class="userInput" type="text" th:field="*{email}"/></th>
            </tr>
            <tr>
                <th>Old Password:</th>
                <th><input class="userInput" type="text" th:field="*{password}"/></th>
            </tr>
            <tr>
                <th>New Password:</th>
                <th><input class="userInput" type="text" th:field="*{password}"/></th>
            </tr>
            <tr>
                <th>Role:</th>
                <th><input class="userInput" type="text" th:field="*{password}"/></th>
            </tr>
        </table>
        <div style="text-align:left;">
            <span style="padding: 0px 60px;"></span>
            <input class="defButton update" type="submit" value="Update"/>
            <input class="defButton clear" type="button" value="Clear"
                   onclick="document.querySelectorAll('input[type=text], textarea').forEach(el=>el.value = '');"/>
        </div>
    </form>
    <div
            th:if="${err}" th:utext="${err}" style="color:red;font-style:italic;">
    </div>
</div>
</body>
</html>