<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Existing User</title>
    <link th:href="@{/static/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="head_container">
    <th:block th:insert="~{header :: header}"></th:block>
</div>
<h2>Update Existing User</h2>
<div class="container">
    <form th:action="@{/users/update/{id}(id=${user.id})}" th:object="${user}" method="post" >
        <table class="newUserTable">
            <tr>
                <th>ID:</th>
                <th><input class="userInput" type="text" th:placeholder="${user.id}"
                           th:readonly></th>
            </tr>
            <tr>
                <th>First name:</th>
                <th><input class="userInput" type="text" th:placeholder="${user.firstName}"
                           th:field="*{firstName}"></th>
            </tr>
            <tr>
                <th>Last name:</th>
                <th><input class="userInput" type="text" th:placeholder="${user.lastName}"
                           th:field="*{lastName}"></th>
            </tr>
            <tr>
                <th>E-mail:</th>
                <th><input class="userInput" type="text" th:placeholder="${user.email}"
                           th:field="*{email}"></th>
            </tr>
            <tr>
                <th>Old Password:</th>
                <th><input class="userInput" type="password" th:placeholder="${user.password}"></th>
            </tr>
            <tr>
                <th>New Password:</th>
                <th><input class="userInput" type="password"
                           th:field="*{password}"/></th>
            </tr>
            <tr>
                <th>Role:</th>
                <th><input class="userInput" type="text" th:placeholder="${user.role.name}"
                           th:field="*{role}"></th>
            </tr>
        </table>
        <div style="text-align:right;">
            <input class="defButton register" type="submit" value="Update"/>
            <input class="defButton clear" type="button" value="Clear"
                   onclick="document.querySelectorAll('input[type=password], input[type=text]').forEach(el=>el.value = '');"/>
        </div>
    </form>
    <div
            th:if="${err}" th:utext="${err}" style="color:red;font-style:italic;">
    </div>
</div>
</body>
</html>